[Unit]
Description=Home Bot - Knowledge discord bot
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=homebot
Group=homebot
WorkingDirectory=/opt/home-bot

# untracked
EnvironmentFile=/opt/home-bot/config.env
ExecStart=/opt/home-bot/.venv/bin/python src/main.py

Restart=always
RestartSec=5s

ProtectSystem=strict
ProtectHome=true
NoNewPrivileges=true

ReadWritePaths=/opt/home-bot

[Install]
WantedBy=multi-user.target
